<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style type="text/css">
    body {
      background-color: gainsboro
    }

    .content {
      margin: auto;
      max-width: 500px;
      border: 3px solid #73AD21;
      padding: 10px;
      text-align: center;
    }
  </style>
</head>
<body>
  <div class="content">
    <h1>Create your elloow organisation</h1>
    <p>Thank you for your application. To finish the registration, click on the link and finish your registration. The link is only valid for 30 minutes.</p>
    <b><a href="{{url}}">Create organisation</a></b>
  </div>
</body>
</html>
